<header role="banner" class="pt-0" id="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" style="background-color: #343a40 !important;border-bottom: 4px solid #ff7404;">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">ChatFood</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/restaurante']" routerLinkActive="active"> Restaurante</a>
                    </li>
                    <li class="nav-item" *ngIf="logado">
                        <a class="nav-link" [routerLink]="['/cardapio/6666000111']" routerLinkActive="active"> Cardápio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/buscar']" routerLinkActive="active">Buscar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#comentarios">Comentários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/restaurante']" routerLinkActive="active">Sobre</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn" *ngIf="!logado">
                        <a class="nav-link" onclick="$('#exampleModalCenter').modal('show');">Entrar</a>
                    </li>
                    <li class="nav-item dropdown cta-btn" *ngIf="logado" id="dropdown04">
                        <a class="nav-link dropdown-toggle" href="svices.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{usuario.nome}}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" [routerLink]="['/editar']">Meus Dados</a>
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>

<div style="display: none;" class="loader" id="carregando" role="status">
</div>

<!-- END header -->
<div id="espacoHeader"></div>