<div class="slider-wrap">
    <section class="home-slider ">


        <div class="slider-item" style="background-image: url('assets/img/hero_1.jpg'); background-attachment: fixed;">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">
                        <h1 data-aos="fade-up">Chat Food</h1>
                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">O jeito simples, fácil e barato de fazer seu pedido!</p>
                        <p data-aos="fade-up" data-aos-delay="200"><a [routerLink]="['/buscar']" class="btn btn-white btn-outline-white">Buscar</a></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END slider -->
</div>


<section class="section bg-light pt-5 bottom-slant-gray mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
                <span class="wrap-icon"><span class="flaticon-dinner d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Desfrute sua Refeição</h3>
                <p>Uma alimentação saudável e rica para você e toda a sua família. Aprecie uma de nossas refeições pelo melhor preço.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
                <span class="wrap-icon"><span class="flaticon-fish d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Frutos do Mar Frescos</h3>
                <p>Conheça os diferentes tipos em nosso cardápio, temos uma variedade de conchas, ostras, moluscos e crustáceos em geral.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
                <span class="wrap-icon"><span class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Prove do Melhor Café</h3>
                <p>Aprecie um bom e saboroso café da manhã da melhor forma possível, venha e confira nosso cardápio.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
                <span class="wrap-icon"><span class="flaticon-meat d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Carnes</h3>
                <p>O churrasco é uma das confraternizações mais amadas e preferidas do povo brasileiro, conheça nossa variedade de carnes.</p>
            </div>
        </div>
    </div>
</section>

<!-- FAZER BLOG -->
<!-- <section id="blog" class="section bg-light pt-0">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Blog</h2>
                    <span class="back-text">Our Blog</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="blog d-block">
                    <a class="bg-image d-block" href="single.html" style="background-image: url('assets/img/dishes_1.jpg');"></a>
                    <div class="text">
                        <h3><a href="single.html">Como Fazer Macarrão?</a></h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>Aprenda as melhores receitas em nosso blog, confira as novidades e aprenda tudo sobre cozinha.</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Leia Mais</a></p>

                    </div>

                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="blog d-block">
                    <a class="bg-image d-block" href="single.html" style="background-image: url('assets/img/dishes_2.jpg');"></a>
                    <div class="text">
                        <h3><a href="single.html">Monte Sua Própria Cozinha!</a></h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>Não perca nossa live sobre como montar a sua própria cozinha com a equipe de nosso restaurante.</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Leia Mais</a></p>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section> -->
<!-- .section -->