<div class="slider-wrap">
    <section class="home-slider ">


        <div class="slider-item" style="background-image: url('assets/img/hero_1.jpg'); background-attachment: fixed;">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">
                        <h1 data-aos="fade-up">Chat Food</h1>
                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">O jeito simples, fácil e barato de fazer seu pedido!</p>
                        <p data-aos="fade-up" data-aos-delay="200"><a href="#" class="btn btn-white btn-outline-white">Procurar</a></p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- END slider -->
</div>


<section class="section bg-light py-5  bottom-slant-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="">
                <span class="wrap-icon"><span class="flaticon-dinner d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Desfrute sua Refeição</h3>
                <p>Uma alimentação saudável e rica para você e toda a sua família. Aprecie uma de nossas refeições pelo melhor preço.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="100">
                <span class="wrap-icon"><span class="flaticon-fish d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Frutos do Mar Frescos</h3>
                <p>Conheça os diferentes tipos em nosso cardápio, temos uma variedade de conchas, ostras, moluscos e crustáceos em geral.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="200">
                <span class="wrap-icon"><span class="flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Prove do Melhor Café</h3>
                <p>Aprecie um bom e saboroso café da manhã da melhor forma possível, venha e confira nosso cardápio.</p>
            </div>
            <div class="col-md-6 mb-4 mb-lg-0 col-lg-3 text-left service-block" data-aos="fade-up" data-aos-delay="300">
                <span class="wrap-icon"><span class="flaticon-meat d-block mb-4"></span></span>
                <h3 class="mb-2 text-primary">Carnes</h3>
                <p>O churrasco é uma das confraternizações mais amadas e preferidas do povo brasileiro, conheça nossa variedade de carnes.</p>
            </div>
        </div>
    </div>
</section>


<section class="section pb-0">
    <div class="container">
        <div class="row mb-5 justify-content-center" data-aos="fade">
            <div class="col-md-7 text-center heading-wrap">
                <h2 data-aos="fade-up">O Restaurante</h2>
                <p data-aos="fade-up" data-aos-delay="100">Nosso Restaurante nasceu a partir de uma intensa procura por pratos e produtos de qualidade em Belo Horizonte, identificando a necessidade de se ter uma casa especializada em Carnes Nobres e Pratos com Frutos do Mar, oferecendo aos nossos clientes o reconhecimento que uma boa cozinha deve ter.</p>
                <p data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary btn-sm btn-outline-white mt-5">Acessar</a></p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="assets/img/dishes_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
            </div>
            <div class="col-lg-4">
                <img src="assets/img/about_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="300">
                <img src="assets/img/about_2.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="400">
            </div>
            <div class="col-lg-4">
                <img src="assets/img/dishes_3.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
            </div>
        </div>
    </div>
</section>

<!-- <section class="section ">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid mb-5">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Special Menu</h2>
                </div>
            </div>
        </div>
        <div class=" centernonloop">
            <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="100">
                <div class="text">
                    <p class="dishes-price">$11.50</p>
                    <h2 class="dishes-heading">Organic tomato salad, gorgonzola cheese, capers</h2>
                </div>
                <img src="assets/img/dishes_1.jpg" alt="" class="img-fluid">
            </a>
            <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="200">
                <div class="text">
                    <p class="dishes-price">$12.00</p>
                    <h2 class="dishes-heading">Baked broccoli</h2>
                </div>
                <img src="assets/img/dishes_2.jpg" alt="" class="img-fluid">
            </a>
            <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="300">
                <div class="text">
                    <p class="dishes-price">$11.00</p>
                    <h2 class="dishes-heading">Spicy meatballs</h2>
                </div>
                <img src="assets/img/dishes_3.jpg" alt="" class="img-fluid">
            </a>
            <a href="#" class="item-dishes" data-aos="fade-right" data-aos-delay="400">
                <div class="text">
                    <p class="dishes-price">$12.00</p>
                    <h2 class="dishes-heading">Eggplant parmigiana</h2>
                </div>
                <img src="assets/img/dishes_4.jpg" alt="" class="img-fluid">
            </a>
        </div>
    </div>

</section> -->
<!-- .section -->

<section class="section bg-light  top-slant-white bottom-slant-gray">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Nosso Menu</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('assets/img/dishes_4.jpg');" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Salada Caesar Grelhada, Reggiano Raspado</h3>
                        <p>Alface americana, mix de alfaces hidropônicas, croutons. Peito de frango desfiado e queijo parmesão....</p>
                        <p class="text-primary h3">$12.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('assets/img/dishes_1.jpg');" data-aos="fade"></div>
                    <div class="text">
                        <h3>Calamari picante e feijão</h3>
                        <p>Arroz cozido com frango desfiado e saborosos temperos. Feijão e Calamari picante...</p>
                        <p class="text-primary h3">$12.00</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('assets/img/dishes_2.jpg');" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Bacon enrolado em camarões selvagens</h3>
                        <p>Camarões-rosa grande enrolado em fatias de bacon, compota de pimento e manteiga...</p>
                        <p class="text-primary h3">$18.00</p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('assets/img/dishes_3.jpg');" data-aos="fade"></div>
                    <div class="text">
                        <h3>Filé de atum ahi grelhado *, molho de mel e gengibre</h3>
                        <p>Filé de atum grelhado com ratatouille de legumes, molho de mel e gengibre...</p>
                        <p class="text-primary h3">$16.00</p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('assets/img/dishes_4.jpg');" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Frango Agridoce</h3>
                        <p>Delicioso frango com molho agridoce, crocante chips de batata doce assado...</p>
                        <p class="text-primary h3">$12.00</p>
                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('assets/img/dishes_1.jpg');" data-aos="fade"></div>
                    <div class="text">
                        <h3>Salada Japonesa</h3>
                        <p>Salada tradicional japonesa com pedaços de atum ahi grelhado...</p>
                        <p class="text-primary h3">$12.00</p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('assets/img/dishes_2.jpg');" data-aos="fade"></div>
                    <div class="text order-1">
                        <h3>Salada havaiana de peixe vermelho cru</h3>
                        <p>Cutuque a tradicional salada havaiana de peixe vermelho cru, com pauzinhos de bambu...</p>
                        <p class="text-primary h3">$18.00</p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('assets/img/dishes_3.jpg');" data-aos="fade"></div>
                    <div class="text">
                        <h3>Bacalhau Assado</h3>
                        <p>Bacalhau assado caseiro com queijo e batata...</p>
                        <p class="text-primary h3">$16.00</p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-md-12 text-center heading-wrap">
                <p data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary btn-sm btn-outline-white mt-5">Cardápio Completo</a></p>
            </div>
        </div>



    </div>
</section>
<!-- .section -->



<section id="comentarios" class="section mb-5">
    

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Comentários</h2>
                    <!-- <span class="back-text">Testimonial</span> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class=" centernonloop2">
                    <div class="slide" data-aos="fade-left" data-aos-delay="100">
                        <blockquote class="testimonial">
                            <p>&ldquo; Além de um menu incrível, espaço super aconchegante tanto para desfrutar de um jantar a dois, quanto para ir com amigos, atendimento e equipe super profissional... Ameiiiii.. Super recomendo, já quero agendar minha próxima reserva...
                                &rdquo;
                            </p>
                            <div class="d-flex author">
                                <img src="assets/img/person_1.jpg" alt="" class="mr-4">
                                <div class="author-info">
                                    <h4>Mellisa Howard</h4>
                                    <p>CEO, XYZ Company</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="slide" data-aos="fade-left" data-aos-delay="200">
                        <blockquote class="testimonial">
                            <p>&ldquo; Ótimo ambiente, com bela decoração e música agradável. Melhor entrada que já comi bandeja de bacalhau com pães. Os 4 pratos que pedimos estavam muito bons pato, bacalhau, cordeiro e filé mignon.
                                &rdquo;
                            </p>
                            <div class="d-flex author">
                                <img src="assets/img/person_2.jpg" alt="" class="mr-4">
                                <div class="author-info">
                                    <h4>Mike Richardson</h4>
                                    <p>CEO, XYZ Company</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="slide" data-aos="fade-left" data-aos-delay="300">
                        <blockquote class="testimonial">
                            <p>&ldquo; Excelente almoço e atendimento. Comidas feitas com todo o capricho. Fiquei satisfeito com tudo. Parabéns!
                                &rdquo;
                            </p>
                            <div class="d-flex author">
                                <img src="assets/img/person_3.jpg" alt="" class="mr-4">
                                <div class="author-info">
                                    <h4>Angela White</h4>
                                    <p>CEO, XYZ Company</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>
<!-- .section -->

<section id="blog" class="section  bg-light top-slant-white">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Blog</h2>
                    <span class="back-text">Our Blog</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="blog d-block">
                    <a class="bg-image d-block" href="single.html" style="background-image: url('assets/img/dishes_1.jpg');"></a>
                    <div class="text">
                        <h3><a href="single.html">Como Fazer Macarrão?</a></h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>Aprenda as melhores receitas em nosso blog, confira as novidades e aprenda tudo sobre cozinha.</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Leia Mais</a></p>

                    </div>

                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="blog d-block">
                    <a class="bg-image d-block" href="single.html" style="background-image: url('assets/img/dishes_2.jpg');"></a>
                    <div class="text">
                        <h3><a href="single.html">Monte Sua Própria Cozinha!</a></h3>
                        <p class="sched-time">
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p>Não perca nossa live sobre como montar a sua própria cozinha com a equipe de nosso restaurante.</p>

                        <p><a href="#" class="btn btn-primary btn-sm">Leia Mais</a></p>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>
<!-- .section -->