<section class="section bg-light top-slant-white bottom-slant-gray">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-sm-12 text-center heading-wrap">
                    <h2 class="pt-2">Cadastrar Cardápio</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-sm-4 border p-2">
                <div class="row justify-content-center">
                    <div class="card" style="width: 10rem;">
                        <img src="../../assets/img/dishes_1.jpg" class="card-img-top shadow-sm rounded" alt="...">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="file" id="valor" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="text" id="nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-sm">
                        <input type="text" id="valor" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" rows="2" cols="50" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 border p-2">
                <div class="row justify-content-center">
                    <div class="card" style="width: 10rem;">
                        <img src="../../assets/img/dishes_2.jpg" class="card-img-top shadow-sm rounded" alt="...">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="file" id="valor" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="text" id="nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-sm">
                        <input type="text" id="valor" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" rows="2" cols="50" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 border p-2">
                <div class="row justify-content-center">
                    <div class="card" style="width: 10rem;">
                        <img src="../../assets/img/dishes_3.jpg" class="card-img-top shadow-sm rounded" alt="...">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="file" id="valor" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="text" id="nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-sm">
                        <input type="text" id="valor" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" rows="2" cols="50" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 border p-2">
                <div class="row justify-content-center">
                    <div class="card" style="width: 10rem;">
                        <img src="../../assets/img/dishes_3.jpg" class="card-img-top shadow-sm rounded" alt="...">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="file" id="valor" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="text" id="nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-sm">
                        <input type="text" id="valor" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" rows="2" cols="50" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 border p-2">
                <div class="row justify-content-center">
                    <div class="card" style="width: 10rem;">
                        <img src="../../assets/img/dishes_4.jpg" class="card-img-top shadow-sm rounded" alt="...">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="file" id="valor" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="text" id="nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-sm">
                        <input type="text" id="valor" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" rows="2" cols="50" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 border p-2">
                <div class="row justify-content-center">
                    <div class="card" style="width: 10rem;">
                        <img src="../../assets/img/dishes_5.jpg" class="card-img-top shadow-sm rounded" alt="...">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="file" id="valor" class="form-control">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <input type="text" id="nome" class="form-control" placeholder="Nome">
                    </div>
                    <div class="col-sm">
                        <input type="text" id="valor" class="form-control" placeholder="Valor">
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" rows="2" cols="50" placeholder="Descrição"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-sm pr-4 mb-2">
                <button class="btn btn-primary w-100" style="cursor:pointer">Salvar</button>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-danger w-100" style="cursor:pointer">Deletar</button>
            </div>
        </div>
    </div>
</section>
<!-- .section -->