<div class="slider-wrap">

    <section class="section bg-light top-slant-white bottom-slant-gray">

        <div class="clearfix  pt-2 pb-3">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Menu</h2>
                        <p><button data-toggle="modal" (click)="open(modalCadMenu)" class="btn btn-primary btn-sm mt-5">Novo Item <i class="fas fa-plus"></i></button></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-4 mt-3" *ngFor="let item of menu">
                    <div class="row mb-1">
                        <div class="col-sm">
                            <button class="btn btn-primary w-100 h-100" (click)="ver(item.id)">Ver <i class="fas fa-eye"></i></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" class="form-control" name="nome" value="{{item.nome}}" readonly>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm">
                            <textarea class="form-control" name="descricao" value="{{item.descricao}}" readonly></textarea>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm-6">
                            <button class="btn btn-dark w-100 h-100" (click)="editar(item.id, item.nome, item.descricao, modalCadMenu);">Editar <i class="fas fa-edit"></i></button>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-danger w-100 h-100" (click)="excluir(item.id)">Excluir <i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<ng-template #modalCadMenu let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Controle - Menu</h5>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <form #form="ngForm" [formGroup]="cadastrarForm" (ngSubmit)="salvar()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="nome" formControlName="nome" placeholder="Nome" required>
                    </div>

                    <div class="w-100" [innerHTML]="verificar('nome', form.submitted, 'o nome')"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm">
                        <textarea class="form-control" name="descricao" formControlName="descricao" placeholder="Descrição" required></textarea>
                    </div>
                    <div class="w-100" [innerHTML]="verificar('descricao', form.submitted, 'a descrição')"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()">Fechar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</ng-template>