<div class="slider-wrap">

    <section class="section bg-light top-slant-white bottom-slant-gray">

        <div class="clearfix  pt-2 pb-3">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>CARDÁPIO</h2>
                        <p><a routerLink="/cadastrar-item" class="btn btn-primary btn-sm mt-5">Novo Item</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row no-gutters">
                <div class="col-md-6 pratos" *ngFor="let cardapio of cardapios; index as i;">
                    <div class="sched d-block d-lg-flex component">
                        <div class="bg-image order-2" style="background-image: url('{{cardapio.url}}');" data-aos="fade"></div>
                        <div class="text order-1 ">
                            <h6 title="Restaurante">{{cardapio.restaurante}}</h6>
                            <h3>{{cardapio.nome}}</h3>
                            <ul class="m-0" *ngFor="let ingrediente of cardapio.ingredientes;">
                                <li>{{ingrediente}}</li>
                            </ul>
                            <p class="text-primary h3 mt-3">{{cardapio.valor | currency:'BRL' }}</p>
                            <div class="row">
                                <div class="col-sm-6 pr-0" title="Editar prato">
                                    <button class="btn btn-dark w-100 h-100"><i class="fas fa-edit"></i></button>
                                </div>
                                <div class="col-sm-6 pl-0" title="Deletar prato">
                                    <button class="btn btn-danger w-100 h-100"><i class="fas fa-trash"></i></button>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

                <div class="col-md-12 bg-danger rounded text-center" *ngIf="erro">
                    <h5 class="text-white p-1 m-0">{{erro}}</h5>
                </div>
            </div>

        </div>
    </section>
</div>