<div class="slider-wrap">

    <section class="section pb-0 pt-3">
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade">
                <div class="col-md-7 text-center heading-wrap">
                    <h2 data-aos="fade-up">Restaurante São João</h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Restaurante São João há 7 anos atende você que é apaixonado pela comida brasileira. Nosso delivery leva até sua casa pratos premium, clássicos e exclusivos do nosso restaurante. Atualmente estamos atendendo apenas na unidade Angola todos os dias a partir
                        de 18h. Delivery a partir das 19h, e de sexta a domingo na hora do almoço (11h30 às 15h00).</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <img src="assets/img/dishes_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/dishes_3.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
                </div>
            </div>
        </div>
    </section>



    <section class="section relative-higher pt-4">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Opniões</h2>
                        <!-- <span class="back-text">Testimonial</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class=" centernonloop2">
                        <div class="slide" data-aos="fade-left" data-aos-delay="100">
                            <blockquote class="testimonial">
                                <p>&ldquo; Além de um menu incrível, espaço super aconchegante tanto para desfrutar de um jantar a dois, quanto para ir com amigos, atendimento e equipe super profissional... Ameiiiii.. Super recomendo, já quero agendar minha próxima reserva...
                                    &rdquo;
                                </p>
                                <div class="d-flex author">
                                    <img src="assets/img/person_1.jpg" alt="" class="mr-4">
                                    <div class="author-info">
                                        <h4>Mellisa Howard</h4>
                                        <p>CEO, XYZ Company</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="slide" data-aos="fade-left" data-aos-delay="200">
                            <blockquote class="testimonial">
                                <p>&ldquo; Ótimo ambiente, com bela decoração e música agradável. Melhor entrada que já comi bandeja de bacalhau com pães. Os 4 pratos que pedimos estavam muito bons pato, bacalhau, cordeiro e filé mignon.
                                    &rdquo;
                                </p>
                                <div class="d-flex author">
                                    <img src="assets/img/person_2.jpg" alt="" class="mr-4">
                                    <div class="author-info">
                                        <h4>Mike Richardson</h4>
                                        <p>CEO, XYZ Company</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="slide" data-aos="fade-left" data-aos-delay="300">
                            <blockquote class="testimonial">
                                <p>&ldquo; Excelente almoço e atendimento. Comidas feitas com todo o capricho. Fiquei satisfeito com tudo. Parabéns!
                                    &rdquo;
                                </p>
                                <div class="d-flex author">
                                    <img src="assets/img/person_3.jpg" alt="" class="mr-4">
                                    <div class="author-info">
                                        <h4>Angela White</h4>
                                        <p>CEO, XYZ Company</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>
    <!-- .section -->

    <section class="section  bg-light top-slant-white">
        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Refeições</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="blog d-block">
                        <a class="bg-image d-block" href="single.html" style="background-image: url('assets/img/dishes_1.jpg');"></a>
                        <div class="text">
                            <h3><a href="single.html">Como Fazer Macarrão?</a></h3>
                            <p class="sched-time">
                                <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                            </p>
                            <p>Aprenda as melhores receitas em nosso blog, confira as novidades e aprenda tudo sobre cozinha.</p>

                            <p><a href="#" class="btn btn-primary btn-sm">Leia Mais</a></p>

                        </div>

                    </div>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                    <div class="blog d-block">
                        <a class="bg-image d-block" href="single.html" style="background-image: url('assets/img/dishes_2.jpg');"></a>
                        <div class="text">
                            <h3><a href="single.html">Monte Sua Própria Cozinha!</a></h3>
                            <p class="sched-time">
                                <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                            </p>
                            <p>Não perca nossa live sobre como montar a sua própria cozinha com a equipe de nosso restaurante.</p>

                            <p><a href="#" class="btn btn-primary btn-sm">Leia Mais</a></p>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- .section -->