<div class="slider-wrap">

    <section class="section pb-0 pt-3">
        <div class="container">
            <div class="row mb-5 justify-content-center" data-aos="fade">
                <div class="col-md-7 text-center heading-wrap">
                    <h2 data-aos="fade-up">Restaurante São João</h2>
                    <p data-aos="fade-up" data-aos-delay="100">
                        Restaurante São João há 7 anos atende você que é apaixonado pela comida brasileira. Nosso delivery leva até sua casa pratos premium, clássicos e exclusivos do nosso restaurante. Atualmente estamos atendendo apenas na unidade Angola todos os dias a partir
                        de 18h. Delivery a partir das 19h, e de sexta a domingo na hora do almoço (11h30 às 15h00).</p>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <img src="assets/img/dishes_1.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="200">
                </div>
                <div class="col-lg-4">
                    <img src="assets/img/dishes_3.jpg" alt="Image" class="img-fluid about_img_1" data-aos="fade" data-aos-delay="500">
                </div>
            </div>
        </div>
    </section>

    <section class="section relative-higher pt-4">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Nosso Menu</h2>
                        <!-- <span class="back-text">Testimonial</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('assets/img/dishes_4.jpg');" data-aos="fade"></div>
                        <div class="text order-1">
                            <h3>Salada Caesar Grelhada, Reggiano Raspado</h3>
                            <p>Alface americana, mix de alfaces hidropônicas, croutons. Peito de frango desfiado e queijo parmesão....</p>
                            <p class="text-primary h3">$12.00</p>
                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" style="background-image: url('assets/img/dishes_1.jpg');" data-aos="fade"></div>
                        <div class="text">
                            <h3>Calamari picante e feijão</h3>
                            <p>Arroz cozido com frango desfiado e saborosos temperos. Feijão e Calamari picante...</p>
                            <p class="text-primary h3">$12.00</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('assets/img/dishes_2.jpg');" data-aos="fade"></div>
                        <div class="text order-1">
                            <h3>Bacon enrolado em camarões selvagens</h3>
                            <p>Camarões-rosa grande enrolado em fatias de bacon, compota de pimento e manteiga...</p>
                            <p class="text-primary h3">$18.00</p>

                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" style="background-image: url('assets/img/dishes_3.jpg');" data-aos="fade"></div>
                        <div class="text">
                            <h3>Filé de atum ahi grelhado *, molho de mel e gengibre</h3>
                            <p>Filé de atum grelhado com ratatouille de legumes, molho de mel e gengibre...</p>
                            <p class="text-primary h3">$16.00</p>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('assets/img/dishes_4.jpg');" data-aos="fade"></div>
                        <div class="text order-1">
                            <h3>Frango Agridoce</h3>
                            <p>Delicioso frango com molho agridoce, crocante chips de batata doce assado...</p>
                            <p class="text-primary h3">$12.00</p>
                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" style="background-image: url('assets/img/dishes_1.jpg');" data-aos="fade"></div>
                        <div class="text">
                            <h3>Salada Japonesa</h3>
                            <p>Salada tradicional japonesa com pedaços de atum ahi grelhado...</p>
                            <p class="text-primary h3">$12.00</p>

                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('assets/img/dishes_2.jpg');" data-aos="fade"></div>
                        <div class="text order-1">
                            <h3>Salada havaiana de peixe vermelho cru</h3>
                            <p>Cutuque a tradicional salada havaiana de peixe vermelho cru, com pauzinhos de bambu...</p>
                            <p class="text-primary h3">$18.00</p>

                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" style="background-image: url('assets/img/dishes_3.jpg');" data-aos="fade"></div>
                        <div class="text">
                            <h3>Bacalhau Assado</h3>
                            <p>Bacalhau assado caseiro com queijo e batata...</p>
                            <p class="text-primary h3">$16.00</p>

                        </div>

                    </div>

                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-md-12 text-center heading-wrap">
                    <p data-aos="fade-up" data-aos-delay="200"><a class="btn btn-primary btn-sm btn-outline-white mt-5">Cardápio Completo</a></p>
                </div>
            </div>



        </div>
    </section>

    <section class="section relative-higher pt-4">

        <div class="clearfix mb-5 pb-5">
            <div class="container-fluid">
                <div class="row" data-aos="fade">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Opniões</h2>
                        <!-- <span class="back-text">Testimonial</span> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class=" centernonloop2">
                        <div class="slide" data-aos="fade-left" data-aos-delay="100">
                            <blockquote class="testimonial">
                                <p>&ldquo; Além de um menu incrível, espaço super aconchegante tanto para desfrutar de um jantar a dois, quanto para ir com amigos, atendimento e equipe super profissional... Ameiiiii.. Super recomendo, já quero agendar minha
                                    próxima reserva... &rdquo;
                                </p>
                                <div class="d-flex author">
                                    <img src="assets/img/person_1.jpg" alt="" class="mr-4">
                                    <div class="author-info">
                                        <h4>Mellisa Howard</h4>
                                        <p>CEO, XYZ Company</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="slide" data-aos="fade-left" data-aos-delay="200">
                            <blockquote class="testimonial">
                                <p>&ldquo; Ótimo ambiente, com bela decoração e música agradável. Melhor entrada que já comi bandeja de bacalhau com pães. Os 4 pratos que pedimos estavam muito bons pato, bacalhau, cordeiro e filé mignon. &rdquo;
                                </p>
                                <div class="d-flex author">
                                    <img src="assets/img/person_2.jpg" alt="" class="mr-4">
                                    <div class="author-info">
                                        <h4>Mike Richardson</h4>
                                        <p>CEO, XYZ Company</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <div class="slide" data-aos="fade-left" data-aos-delay="300">
                            <blockquote class="testimonial">
                                <p>&ldquo; Excelente almoço e atendimento. Comidas feitas com todo o capricho. Fiquei satisfeito com tudo. Parabéns! &rdquo;
                                </p>
                                <div class="d-flex author">
                                    <img src="assets/img/person_3.jpg" alt="" class="mr-4">
                                    <div class="author-info">
                                        <h4>Angela White</h4>
                                        <p>CEO, XYZ Company</p>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </section>
</div>