<section class="section bg-light top-slant-white bottom-slant-gray">

    <div class="clearfix pt-2 pb-3">
        <div class="container-fluid">
            <div class="row" data-aos="fade">
                <div class="col-sm-12 text-center heading-wrap">
                    <h2 class="pt-2">Editar Registro</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Nome Proprietário</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Nome do Proprietário" value="Josue Silva Montes">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">CPF</label>
                    <input type="text" class="form-control" id="nome" required placeholder="CPF" value="260.179.760-60">
                </div>
            </div>
        </div>

        <div class=" row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Email</label>
                    <input type="email" class="form-control" id="email" required placeholder="Email" value="josue@gmail.com">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Data de Nascimento</label>
                    <input type="date" class="form-control" id="data" required placeholder="data" value="1978-05-28">
                </div>
            </div>
        </div>
        <hr>
        <div class="row  justify-content-center">
            <div class="col-sm-4">
                <div class="form-group">
                    <input type="text" class="form-control" id="nome" required placeholder="CNPJ" value="54.254.683/0001-32">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Estabelecimento</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Razão Social do Estabelecimento" value="Restaurante Silvas">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="formGroupExampleInput">CEP</label>
                    <input type="text" class="form-control" id="cep" required placeholder="CEP" value="36548-258">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="formGroupExampleInput">Estado</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Estado" value="MG">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Cidade</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Cidade" value="Belo Horizonte">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="formGroupExampleInput">Rua</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Rua" value="Rua Maravilha">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="formGroupExampleInput">Número</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Número" value="115B">
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <label for="formGroupExampleInput">Complemento</label>
                    <input type="text" class="form-control" id="nome" required placeholder="Complemento" value="Em frente ao supermecado BH">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 mt-2 w-100">
                <button class="btn btn-primary w-100" style="cursor:pointer">Salvar</button>
            </div>
            <div class="col-sm-2 mt-2">
                <button class="btn btn-danger w-100" style="cursor:pointer">Deletar</button>
            </div>
        </div>
    </div>
</section>
<!-- .section -->